.grayFusion {
  background-color: rgb(219, 219, 223);
}

.stretched {
  min-height: 70vh;
  position: relative
}

.centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marginLeft {
  margin-left: 250px;
}

.textLeft {
  text-align: center;
}

.midnightGreen {
  /* background-color: #144552; */
  background-color: #d9d9d9;
}

.customMarg {
  margin-bottom: 50px;
  background-color: #d9d9d9;
}

.largeFont {
  font-size: 20px;
}

.roundedEdge {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 10px 8px #888888;
}